@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&family=Poppins:wght@400;600&display=swap');

*, ::after, ::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: rgb(4, 75, 97);
}

.box{
    position: relative;
    width: 300px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0);
    overflow: hidden;
    border-radius: 20px;
    margin-bottom: 100px;
}

.box-inner-msg{
    position: absolute;
    bottom: 50px;
    color: white;
    font-family: "Poetsen One";
    font-weight: 100;
    z-index: 1;
}

.box::before{
    content: "";
    position: absolute;
    width: 180px;
    height: 140%;
    background-color: white;
    box-shadow: 0 0 20px rgb(8,8,8);
    animation: animate 5s linear infinite;
}

.box::after{
    content: "404";
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: "Poetsen One";
    font-weight: 400;
    font-size: 107px;
    position: absolute;
    inset: 10px;
    background-color: rgb(4, 75, 97);
    border-radius: 16px;
}

@keyframes animate {
    to {
        transform: rotate(360deg);
    }
}